<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <form action='/survey' id="form" method='post'>
        {% csrf_token %}
        <h1>Dojo Survey</h1>
        <div class="form-group">
            <label for="name">Your Name:</label>
            <input type="name" name="name" class="form-control" id="name"
                placeholder="First and Last Name Here">
        </div>

        <div class="form-group">
            <label for="location">Dojo Location:</label>
            <select class="form-control" name="location" id="location">
                <option>Berkeley</option>
                <option>Boise</option>
                <option>Chicago</option>
                <option>Dallas</option>
                <option>Los Angeles</option>
                <option>Orange County</option>
                <option>San Jose</option>
                <option>Seattle</option>
                <option>Tulsa</option>
                <option>Tysons Corner</option>
                <option>Online</option>
            </select>
        </div>

        <div class="form-group">
            <label for="language">Favorite Language:</label>
            <select class="form-control" name="language" id="language">
                <option>C#/.NET</option>
                <option>Java</option>
                <option>MEAN</option>
                <option>Ruby</option>
                <option>Python</option>
                <option>Other</option>
            </select>
        </div>

        <div class="form-group">
            <label for="comment">Comment (optional):</label>
            <textarea class="form-control" name="comment" id="comment" rows="3"></textarea>
            <button type="submit" class="btn btn-primary mb-2">Submit Survey!</button>
        </div>

    </form>

</body>

</html>